* {
    -fx-primary-color: #e76086;

    -fx-separator-color: #282e3f;

    -fx-card-color: #1f2632;
    -fx-bg-color: #171b29;
    /* Darker bg */

    -fx-sidebar-color: linear-gradient(to bottom, #1f2632, #171b29);

    -fx-primary-text-color: #ffffff;
    -fx-secondary-text-color: #9999aa;
}