* {
    -fx-success-color: #77dfa4;
    -fx-error-color: #f95054;
    -fx-info-color: #789efc;
    -fx-warning-color: #fab859;
}

.regular {
    -fx-font-family: "Segoe UI", sans-serif;
}

.semibold {
    -fx-font-family: "Segoe UI Semibold", sans-serif;
}

.bold {
    -fx-font-family: "Segoe UI Bold", sans-serif;
}